## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

f = open('test.txt','w')
f.write(test1)
f.close()

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2 = open('test.txt','r')
test2.read()

'This is a test of the emergency text system'

## 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [5]:
import csv
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["title","author","year"])
    writer.writerow(["The Weirdstone of Brisingamen","Alan Garner",1960])    
    writer.writerow(["Perdido Street Station","China Miéville",2000])        
    writer.writerow(["Thud!","Terry Pratchett",2005]) 
    writer.writerow(["The Spellman Files","Lisa Lutz",2007])    
    writer.writerow(["Small Gods","Terry Pratchett",1992])

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [36]:
import sqlite3
con = sqlite3.connect(r'C:\Users\tejas\Desktop\ineuron\Full stack DS\Assignments\books.db')
cur = con.cursor()
cur.execute('''CREATE TABLE books(title text, author text, year integer)''')

OperationalError: table books already exists

In [37]:
con.commit()
con.close()

## 5. Read books.csv and insert its data into the book table.

In [40]:
import sqlite3
con = sqlite3.connect(r'C:\Users\tejas\Desktop\ineuron\Full stack DS\Assignments\books.db')
cur = con.cursor()
cur.execute("SELECT * FROM books")
cur.fetchall()

[]

In [41]:
cur.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen','Alan Garner',1960)")
cur.execute("INSERT INTO books VALUES ('Perdido Street Station','China Miéville',2000)")
cur.execute("INSERT INTO books VALUES ('Thud!','Terry Pratchett',2005)")
cur.execute("INSERT INTO books VALUES ('The Spellman Files','Lisa Lutz',2007)")
cur.execute("INSERT INTO books VALUES ('Small Gods','Terry Pratchett',1992)")

OperationalError: database is locked

In [42]:
con = sqlite3.connect('books.db')
cur = con.cursor()
for i in cur.execute('SELECT * FROM books'):
    print(i)

## 6. Select and print the title column from the book table in alphabetical order.

In [56]:
import sqlite3
con = sqlite3.connect(r'C:\Users\tejas\Desktop\ineuron\Full stack DS\Assignments\books.db')
cur = con.cursor()
cur.execute("SELECT title FROM books ORDER BY title ASC")
for i in cur:
    print(i)

## 7. From the book table, select and print all columns in the order of publication.

In [57]:
import sqlite3
con = sqlite3.connect(r'C:\Users\tejas\Desktop\ineuron\Full stack DS\Assignments\books.db')
cur = con.cursor()
cur.execute("SELECT * FROM books")
for i in cur:
    print(i)

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [60]:
import sqlalchemy
dbEngine=sqlalchemy.create_engine('sqlite:////home/tejas/books.db')
dbEngine

Engine(sqlite:////home/tejas/books.db)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [61]:
!pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3

In [65]:
import redis
conn = redis.Redis()
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

## 10. Increment the count field of test and print it.

In [67]:
conn.hincrby('test', 'count', 3)

In [ ]:
conn.hget('test', 'count')